.advantages {
  width: 260px;
  margin: 33px auto 60px auto;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @black;
}

.advantages__list {
  .ul-reset;
}

.advantages__list-item {
  font-size: 17px;
  color: @black;
  font-weight: 700;
  padding-top: 65px;
}
