.contacts {
  padding-top: 42px;
  padding-bottom: 40px;
}

.contacts__data {
  width: 260px;
  margin: 0 auto 42px auto;

}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  color: @black;
  font-weight: 700;
  margin-top: 0;
}

.contacts__info {
  line-height: 30px;
  display: inline-block;
  width: 75px;
  vertical-align: top;
}

.contacts__email {
  display: inline-block;
  line-height: 30px;
  color: @base-color;
  border-bottom: 1px solid #62d1ba;
  margin-bottom: 30px;
}

.contacts__adress {
  line-height: 30px;
  display: inline-block;
  width: 164px;
  margin: 0;
}

.contacts__button {
  font-size: 18px;
  color: @base-color;
  font-weight: 700;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
