.input {
  font-size: 17px;
  line-height: 18px;
  color: @black;
  font-weight: 700;
}

.input__field {
  width: 100%;
  font-size: 17px;
  line-height: 21px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @base-color;
  padding-top: 14px;
  padding-bottom: 14.5px;
  padding-right: 40px;
  border: 0;
  border-bottom: 2px solid @base-color;
  box-sizing: border-box;


  &--tel {
    padding-top: 5px;
    font-size: 17px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 227px 1px;

    &:hover,
    &:focus {
      background-image: url(../img/icon-phone-hover.svg);
    }
  }

  &--mail {
    padding-top: 5px;
    font-size: 17px;
    background-image: url(../img/icon-mail.svg);
    background-repeat: no-repeat;
    background-position: 225px 1px;

    &:hover,
    &:focus {
      background-image: url(../img/icon-mail-hover.svg);
    }
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
    outline: 0;
  }
}

.form__name-item:hover .input__icon {
  fill: #62d1ba;
}

@media (min-width: @tablet-width) {
  .input {
    font-size: 19px;
    line-height: 18px;
  }

  .input__field {
    width: 375px;
    font-size: 19px;
    line-height: 18px;
    margin-left: 20px;
    padding-left: 18px;
    padding-right: 70px;
    box-sizing: border-box;

    &--name {
      width: 427px;
    }

    &--contacts {
      width: 100%;
      margin-left: 0;
      background-color: #f1f1f1;
    }

    &--tel {
      width: 100%;
      margin-bottom: 5px;
      margin-left: 0;
      background-position: 451px 13px;
      background-color: #f1f1f1;
    }

    &--mail {
      width: 100%;
      margin-left: 0;
      margin-bottom: 5px;
      padding-top: 11px;
      background-position: 448px 11px;
      background-color: #f1f1f1;
    }
  }
}

@media (min-width: @desktop-width) {
  .input__field {
    width: 573px;

    &--name {
      width: 626px;
    }

    &--contacts {
      width: 100%;
    }

    &--tel {
      width: 100%;
      background-position-x: 667px;
    }

    &--mail {
      width: 100%;
      background-position-x: 664px;
    }
  }
}
