.logo {
  font-size: 0;
  line-height: 0;
}

@media (min-width: @tablet-width) {
  .logo__image {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: @desktop-width) {
  .logo__image {
    width: 149px;
    height: 72px;
  }
}
