@media (min-width: @tablet-width) {
  .main-header {
    margin-bottom: 0;
  }

  .main-header__title {
    margin-top: -45px;
    border-top: 1px solid #e7e7e7;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    margin-bottom: 75px;
  }

  .main-header__title {
    padding-bottom: 0;
    margin-top: -44px;
  }
}
