.main-nav {
  width: 260px;
  padding-top: 20px;
  padding-bottom: 26px;
  margin: 0 auto;
}

.main-nav__top {
  padding-left: 85px;
}

.main-nav__list {
  .ul-reset;
}

.main-nav__comment {
  display: none;
}
