.map {
  background-image: url(../../img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 457px;
  margin-bottom: 40px;
}

@media (min-width: @desktop-width) {
  .map {
    margin-bottom: 0;
  }
}
