.page-footer {
  background-color: #f1f1f1;
  padding-top: 26px;
  padding-bottom: 6px;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 57px;
  }

  .page-footer__wrapper {
    width: 668px;
    min-height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-footer__logo {
    display: block;
    margin-right: 80px;
    margin-top: 2px;
  }

  .page-footer__social {
    border: 0;
    margin-top: 9px;
  }

  .page-footer__copyright {
    margin-top: 8px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
