.page-menu {
  .ul-reset;
  width: 320px;
  margin: 0 auto;
}

.page-menu__link {
  font-size: 19px;
  line-height: 24px;
  color: @white;
  font-weight: 700;
  padding: 27px 30px;
    &--interior {
      background-color: #63d1bb;
      display: block;
    }
    &--toys {
      background-color: #56c3b2;
      display: block;
    }
}
