.page-title {
  font-size: 27px;
  line-height: 30px;
  color: @black;
  text-align: center;
  margin: 0;
  padding-top: 71px;
  padding-bottom: 75px;
}

@media (min-width: @tablet-width) {
  .page-title {
    padding-top: 96px;
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 90px;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 107px;
    padding-top: 93px;
  }
}
