.page-footer {
  background-color: #f1f1f1;
  padding-top: 25px;
  padding-bottom: 23px;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
}
