.production-process {
  padding-top: 95px;
  border: 1px solid #ececec;
  margin-bottom: 58px;
}

.production-process__video {
  line-height: 0;
}

.production-process__title {
  font-size: 17px;
  line-height: 24px;
  color: @black;
  margin: 0;
  padding-left: 57px;
}

.production-process__text {
  padding-top: 32px;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 32px;
}

.production-process__description {
  font-size: 13px;
  line-height: 24px;
}

.production-process__order {
  display: block;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: @base-color;
  text-transform: uppercase;
  text-align: center;
}
