.product-of-the-week {
  width: 260px;
  margin: 0 auto;
  padding-top: 32px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
}

.product-of-the-week__title-text {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: @black;
}

.product-of-the-week__label {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-of-the-week__description {
  line-height: 24px;
}

.product-of-the-week__features {
  margin-bottom: 28px;
}

.product-of-the-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.product-of-the-week__buy {
  display: block;
  font-size: 17px;
  font-weight: 700;
  color: @base-color;
  text-align: center;
  text-transform: uppercase;
}
