.product-of-the-week {
  width: 260px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 35px;
}

.product-of-the-week__title-text {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: @black;
}

.product-of-the-week__label {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-of-the-week__description {
  line-height: 24px;
}

.product-of-the-week__features {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
}

.product-of-the-week__features td {
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ececec;
}

.product-of-the-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.product-of-the-week__buy {
  display: block;
  font-size: 17px;
  font-weight: 700;
  color: @base-color;
  text-align: center;
  text-transform: uppercase;
}

.product-of-the-week__features-parameter {
  width: 90px;
}

@media (min-width: @tablet-width) {
  .product-of-the-week {
    width: 668px;
    position: relative;
  }

  .product-of-the-week__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-of-the-week__title-text {
    font-size: 43px;
    line-height: 50px;
  }

  .product-of-the-week__label {
    width: 126px;
    line-height: 17px;
    text-align: center;
  }

  .product-of-the-week__content {
    width: 291px;
  }

  .product-of-the-week__image {
    position: absolute;
    right: 0;
    bottom: 35px;
    width: 333px;
    height: 404px;
  }

  .product-of-the-week__description {
    font-size: 17px;
    line-height: 30px;
    margin-top: 46px;
    margin-bottom: 50px;
  }

  .product-of-the-week__price {
    font-size: 20px;
    margin-bottom: 55px;
  }

  .product-of-the-week__features {
    margin-bottom: 58px;
  }
}

@media (min-width: @desktop-width) {
  .product-of-the-week {
    width: 1050px;
    padding-top: 71px;
  }

  .product-of-the-week__title-text {
    order: 2;
    font-size: 53px;
    line-height: 57px;
  }

  .product-of-the-week__label {
    order: 1;
    padding-left: 24px;
    padding-right: 25px;
  }

  .product-of-the-week__title {
    justify-content: flex-start;
    margin-top: 60px;
  }

  .product-of-the-week__image {
    width: 525px;
    height: 636px;
    z-index: -1;
  }

  .product-of-the-week__content {
    margin-left: 175px;
  }

  .product-of-the-week__description {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .product-of-the-week__features {
    margin-bottom: 110px;
  }
}


