.product-card {
  margin-bottom: 31px;
  line-height: 0;

  &:hover,
  &:focus {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
  }

  &:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
  }
}

.product-card__link {
  color: @black;
}

.product-card__image {
  width: 100%;
}

.product-card__description {
  border: 1px solid #ececec;
  padding-top: 25px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 26px;
}

.product-card__text {
  border-bottom: 1px solid #ececec;
  margin-bottom: 22px;
}

.product-card__title {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 17px;
  line-height: 24px;
  color: @black;
}

.product-card__characteristic {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 18px;
  color: @base-color;
}

.product-card__price {
  line-height: 24px;
  color: @black;
  font-weight: 700;
}

.product-card__ordering {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card__in-basket {
  font-size: 0;
  line-height: 0;
  padding: 0;
  background: none;
  border: 0;
}

.product-card__icon-basket {
  fill: #d3d2d2;

  &:hover,
  &:focus {
    fill: rgb(99, 209, 187);
  }

  &:active {
    fill: rgba(99, 209, 187, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .product-card {
    display: flex;
    margin-bottom: 53px;
  }

  .product-card__link {
  }

  .product-card__image {
    width: 334px;
    height: 334px;
  }

  .product-card__description {
    width: 50%;
    padding-bottom: 26px;
    padding-top: 24px;
    box-sizing: border-box;
  }

  .product-card__text {
    min-height: 236px;
    border: 0;
    margin-bottom: 0;
  }

  .product-card__ordering {
    padding-top: 22px;
    border-top: 1px solid #ececec;
    margin-left: 5px;
    margin-right: 5px;
  }

  .product-card__title {
    font-size: 20px;
  }

  .product-card__characteristic {
    font-size: 15px;
    margin-bottom: 0;
  }

  .product-card__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    flex-direction: column;
    width: 316px;
    margin-right: 51px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .product-card__image {
    width: 316px;
    height: 462px;
  }

  .product-card__description {
    width: 100%;
    box-sizing: border-box;
    padding-left: 26px;
    padding-right: 26px;
  }

  .product-card__text {
    min-height: 98px;
  }

  .product-card__characteristic {
    margin-bottom: 0;
  }

  .product-card__ordering {
    margin-left: 0;
  }
}
