.reviews {
  margin-bottom: 37px;
}

.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: @black;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
}

.reviews__text {
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 29px;
}

.reviews__text br {
  display: none;
}

.reviews__autor-name {
  font-size: 17px;
  line-height: 24px;
  color: @black;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 3px;
}

.reviews__autor-contact {
  font-size: 17px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 30px;
}

.reviews__slider-controls {
  margin: 0 auto 36px auto;
  border-collapse: collapse;
  width: 100%;
}

.reviews__slider-controls td {
  width: 130px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ececec;
  line-height: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.reviews__slider-controls td:hover .reviews__btn-icon,
.reviews__slider-controls td:focus .reviews__btn-icon {
  fill: rgb(102, 102, 102);
}

.reviews__slider-controls td:active .reviews__btn-icon {
  fill: rgba(102, 102, 102, 0.3);
}

.reviews__write {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: @base-color;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .reviews {
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    padding-top: 76px;
    background-position: -7px top;
    padding-bottom: 80px;
    margin-bottom: 47px;
  }

  .reviews__wrapper {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    width: 50%;
    margin-left: -3px;
    margin-bottom: 50px;
  }

  .reviews__text {
    font-size: 17px;
    order: 2;
    margin-bottom: 59px;
  }

  .reviews__autor-name {
    font-size: 18px;
    width: 50%;
    order: 3;
    margin: 0;
  }

  .reviews__autor-contact {
    width: 50%;
    order: 5;
    margin: 0;
    margin-top: -25px;
  }

  .reviews__write {
    font-size: 17px;
    width: 170px;
    order: 1;
  }

  .reviews__slider-controls {
    width: 174px;
    order: 4;
    margin-right: 0;
    margin-bottom: 0;
  }

  .reviews__slider-controls td {
    padding-top: 14px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1050px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 135px;
    margin-bottom: 70px;
  }

  .reviews__wrapper {
    width: 100%;
    padding-left: 175px;
    box-sizing: border-box;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    width: 780px;
    margin-bottom: 40px;
  }

  .reviews__text br {
    display: block;
  }

  .reviews__autor-name {
    font-size: 17px;
  }

  .reviews__write {
    margin-top: 8px;
  }
}
